# Node modules directory
node_modules/

# Distribution directory where esbuild bundles files
dist/**

# vscode specific files
.vscode/

# Ignore local environment files (if any)
.env
dist/extension.js
dist/extension.js.map
node_modules/.package-lock.json
